@model PocketRoofer.Models.EstimateViewModels
@{
    ViewBag.Title = "Get An Estimate";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="Site.css" rel="stylesheet">
    <title>GenerateEstimate</title>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <h1>PocketRoofer</h1>
            <p class="lead"> Generate your estimate here.</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.First_Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Last_Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control" })
            </div>
        </div>
    </div>

</body>
</html>
